<?xml version="1.0" encoding="ISO-8859-1"?>
<!--name (tag) und address obligatorisch; alle Werte dezimal; bei fehlendem (optionalem) tag wird Defaultwert benutzt:
	byteCount = 1
	byteType = MIDIBYTE
	valueClass = Integer
-->
<map xmlns:xs="http://www.w3.org/2001/XMLSchema-instance" xs:noNamespaceSchemaLocation="../xsd/module.xsd">
	<module tag = "master">
		<name>Master</name>
		<address>
			<hi>0</hi>
			<mid>0</mid>
		</address>
		<bulk>
			<address>
				<hi>0</hi>
				<mid>0</mid>
			</address>
			<size>7</size>
			<opcode tag = "master_tune">
				<address>
					<lo>0</lo>
				</address>
				<byteCount>4</byteCount>
				<byteType>NIBBLE</byteType>
				<valueClass>Integer</valueClass>
			</opcode>
			<opcode tag = "master_volume">
				<address>
					<lo>4</lo>
				</address>
			</opcode>
			<opcode tag = "master_attenuator">
				<address>
					<lo>5</lo>
				</address>
			</opcode>
			<opcode tag = "master_transpose">
				<address>
					<lo>6</lo>
				</address>
			</opcode>
			<opcode tag = "master_reset_drumset">
				<address>
					<lo>125</lo>
				</address>
			</opcode>
			<opcode tag = "master_xg_on">
				<address>
					<lo>126</lo>
				</address>
			</opcode>
			<opcode tag = "master_reset_all">
				<address>
					<lo>127</lo>
				</address>
			</opcode>
		</bulk>
	</module>
	<module tag = "info">
		<name>System Information</name>
		<address>
			<hi>1</hi>
			<mid>0</mid>
		</address>
		<bulk>
			<address>
				<hi>1</hi>
				<mid>0</mid>
			</address>
			<size>16</size>
			<opcode tag = "info_name">
				<address>
					<lo>0</lo>
				</address>
				<byteCount>13</byteCount>
				<byteType>MIDIBYTE</byteType>
				<valueClass>String</valueClass>
			</opcode>
			<opcode tag = "info_xg_level1">
				<address>
					<lo>14</lo>
				</address>
			</opcode>
			<opcode tag = "info_xg_level2">
				<address>
					<lo>15</lo>
				</address>
			</opcode>
		</bulk>
	</module>
	<module tag = "systemfx">
		<name>System Effect</name>
		<address>
			<hi>2</hi>
			<mid>1</mid>
		</address>
		<bulk>
			<address>
				<hi>2</hi>
				<mid>1</mid>
			</address>
			<size>14</size>
			<opcode tag = "reverb_type">
				<address>
					<lo>0</lo>
				</address>
				<byteCount>2</byteCount>
				<byteType>MIDIBYTE</byteType>
				<valueClass>Integer</valueClass>
			</opcode>
			<opcode tag = "reverb_1">
				<address>
					<lo>2</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_2">
				<address>
					<lo>3</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_3">
				<address>
					<lo>4</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_4">
				<address>
					<lo>5</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_5">
				<address>
					<lo>6</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_6">
				<address>
					<lo>7</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_7">
				<address>
					<lo>8</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_8">
				<address>
					<lo>9</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_9">
				<address>
					<lo>10</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_10">
				<address>
					<lo>11</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_return">
				<address>
					<lo>12</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_panorama">
				<address>
					<lo>13</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>2</hi>
				<mid>1</mid>
			</address>
			<size>6</size>
			<opcode tag = "reverb_11">
				<address>
					<lo>16</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_12">
				<address>
					<lo>17</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_13">
				<address>
					<lo>18</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_14">
				<address>
					<lo>19</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_15">
				<address>
					<lo>20</lo>
				</address>
			</opcode>
			<opcode tag = "reverb_16">
				<address>
					<lo>21</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>2</hi>
				<mid>1</mid>
			</address>
			<size>15</size>
			<opcode tag = "chorus_type">
				<address>
					<lo>32</lo>
				</address>
				<byteCount>2</byteCount>
				<byteType>MIDIBYTE</byteType>
				<valueClass>Integer</valueClass>
			</opcode>
			<opcode tag = "chorus_1">
				<address>
					<lo>34</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_2">
				<address>
					<lo>35</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_3">
				<address>
					<lo>36</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_4">
				<address>
					<lo>37</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_5">
				<address>
					<lo>38</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_6">
				<address>
					<lo>39</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_7">
				<address>
					<lo>40</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_8">
				<address>
					<lo>41</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_9">
				<address>
					<lo>42</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_10">
				<address>
					<lo>43</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_return">
				<address>
					<lo>44</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_panorama">
				<address>
					<lo>45</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_to_reverb">
				<address>
					<lo>46</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>2</hi>
				<mid>1</mid>
			</address>
			<size>6</size>
			<opcode tag = "chorus_11">
				<address>
					<lo>48</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_12">
				<address>
					<lo>49</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_13">
				<address>
					<lo>50</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_14">
				<address>
					<lo>51</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_15">
				<address>
					<lo>52</lo>
				</address>
			</opcode>
			<opcode tag = "chorus_16">
				<address>
					<lo>53</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>2</hi>
				<mid>1</mid>
			</address>
			<size>33</size>
			<opcode tag = "variation_type">
				<address>
					<lo>64</lo>
				</address>
				<byteCount>2</byteCount>
				<byteType>MIDIBYTE</byteType>
				<valueClass>Integer</valueClass>
			</opcode>
			<opcode tag = "variation_1">
				<address>
					<lo>66</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "variation_2">
				<address>
					<lo>68</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "variation_3">
				<address>
					<lo>70</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "variation_4">
				<address>
					<lo>72</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "variation_5">
				<address>
					<lo>74</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "variation_6">
				<address>
					<lo>76</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "variation_7">
				<address>
					<lo>78</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "variation_8">
				<address>
					<lo>80</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "variation_9">
				<address>
					<lo>82</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "variation_10">
				<address>
					<lo>84</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "variation_return">
				<address>
					<lo>86</lo>
				</address>
			</opcode>
			<opcode tag = "variation_panorama">
				<address>
					<lo>87</lo>
				</address>
			</opcode>
			<opcode tag = "variation_to_reverb">
				<address>
					<lo>88</lo>
				</address>
			</opcode>
			<opcode tag = "variation_to_chorus">
				<address>
					<lo>89</lo>
				</address>
			</opcode>
			<opcode tag = "variation_connection">
				<address>
					<lo>90</lo>
				</address>
			</opcode>
			<opcode tag = "variation_part">
				<address>
					<lo>91</lo>
				</address>
			</opcode>
			<opcode tag = "variation_mw">
				<address>
					<lo>92</lo>
				</address>
			</opcode>
			<opcode tag = "variation_pb">
				<address>
					<lo>93</lo>
				</address>
			</opcode>
			<opcode tag = "variation_cat">
				<address>
					<lo>94</lo>
				</address>
			</opcode>
			<opcode tag = "variation_ac1">
				<address>
					<lo>95</lo>
				</address>
			</opcode>
			<opcode tag = "variation_ac2">
				<address>
					<lo>96</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>2</hi>
				<mid>1</mid>
			</address>
			<size>1</size>
			<opcode tag = "variation_cbc1">
				<address>
					<lo>97</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>2</hi>
				<mid>1</mid>
			</address>
			<size>1</size>
			<opcode tag = "variation_cbc2">
				<address>
					<lo>98</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>2</hi>
				<mid>1</mid>
			</address>
			<size>6</size>
			<opcode tag = "variation_11">
				<address>
					<lo>112</lo>
				</address>
			</opcode>
			<opcode tag = "variation_12">
				<address>
					<lo>113</lo>
				</address>
			</opcode>
			<opcode tag = "variation_13">
				<address>
					<lo>114</lo>
				</address>
			</opcode>
			<opcode tag = "variation_14">
				<address>
					<lo>115</lo>
				</address>
			</opcode>
			<opcode tag = "variation_15">
				<address>
					<lo>116</lo>
				</address>
			</opcode>
			<opcode tag = "variation_16">
				<address>
					<lo>117</lo>
				</address>
			</opcode>
		</bulk>
	</module>
	<module tag = "systemeq">
		<name>System EQ</name>
		<address>
			<hi>2</hi>
			<mid>64</mid>
		</address>
		<bulk>
			<address>
				<hi>2</hi>
				<mid>64</mid>
			</address>
			<size>15</size>
			<opcode tag = "eq_type">
				<address>
					<lo>0</lo>
				</address>
			</opcode>
			<opcode tag = "eq_gain1">
				<address>
					<lo>1</lo>
				</address>
			</opcode>
			<opcode tag = "eq_frequency1">
				<address>
					<lo>2</lo>
				</address>
			</opcode>
			<opcode tag = "eq_q1">
				<address>
					<lo>3</lo>
				</address>
			</opcode>
			<opcode tag = "eq_shape1">
				<address>
					<lo>4</lo>
				</address>
			</opcode>
			<opcode tag = "eq_gain2">
				<address>
					<lo>5</lo>
				</address>
			</opcode>
			<opcode tag = "eq_frequency2">
				<address>
					<lo>6</lo>
				</address>
			</opcode>
			<opcode tag = "eq_q2">
				<address>
					<lo>7</lo>
				</address>
			</opcode>
			<opcode tag = "eq_gain3">
				<address>
					<lo>9</lo>
				</address>
			</opcode>
			<opcode tag = "eq_frequency3">
				<address>
					<lo>10</lo>
				</address>
			</opcode>
			<opcode tag = "eq_q3">
				<address>
					<lo>11</lo>
				</address>
			</opcode>
			<opcode tag = "eq_gain4">
				<address>
					<lo>13</lo>
				</address>
			</opcode>
			<opcode tag = "eq_frequency4">
				<address>
					<lo>14</lo>
				</address>
			</opcode>
			<opcode tag = "eq_q4">
				<address>
					<lo>15</lo>
				</address>
			</opcode>
			<opcode tag = "eq_gain5">
				<address>
					<lo>17</lo>
				</address>
			</opcode>
			<opcode tag = "eq_frequency5">
				<address>
					<lo>18</lo>
				</address>
			</opcode>
			<opcode tag = "eq_q5">
				<address>
					<lo>19</lo>
				</address>
			</opcode>
			<opcode tag = "eq_shape5">
				<address>
					<lo>20</lo>
				</address>
			</opcode>
		</bulk>
	</module>
	<module tag = "insertionfx">
		<name>Insertion Effect</name>
		<address>
			<hi>3</hi>
		</address>
		<bulk>
			<address>
				<hi>3</hi>
			</address>
			<size>18</size>
			<opcode tag = "insertion_type">
				<address>
					<lo>0</lo>
				</address>
				<byteCount>2</byteCount>
				<byteType>MIDIBYTE</byteType>
				<valueClass>Integer</valueClass>
			</opcode>
			<opcode tag = "insertion_1">
				<address>
					<lo>2</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_2">
				<address>
					<lo>3</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_3">
				<address>
					<lo>4</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_4">
				<address>
					<lo>5</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_5">
				<address>
					<lo>6</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_6">
				<address>
					<lo>7</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_7">
				<address>
					<lo>8</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_8">
				<address>
					<lo>9</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_9">
				<address>
					<lo>10</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_10">
				<address>
					<lo>11</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_part">
				<address>
					<lo>12</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_mw">
				<address>
					<lo>13</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_pb">
				<address>
					<lo>14</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_cat">
				<address>
					<lo>15</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_ac1">
				<address>
					<lo>16</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_ac2">
				<address>
					<lo>17</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>3</hi>
			</address>
			<size>1</size>
			<opcode tag = "insertion_cbc1">
				<address>
					<lo>18</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>3</hi>
			</address>
			<size>1</size>
			<opcode tag = "insertion_cbc2">
				<address>
					<lo>19</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>3</hi>
			</address>
			<size>6</size>
			<opcode tag = "insertion_11">
				<address>
					<lo>32</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_12">
				<address>
					<lo>33</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_13">
				<address>
					<lo>34</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_14">
				<address>
					<lo>35</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_15">
				<address>
					<lo>36</lo>
				</address>
			</opcode>
			<opcode tag = "insertion_16">
				<address>
					<lo>37</lo>
				</address>
			</opcode>
		</bulk>
		
		<!-- Note: If effect type does not require MSB, accept parameters with addresses 02 to 0B, and ignore parameters with addresses from 30 to 42. If effect type requires MSB, accept parameters with addresses 30 to 42 and ignore parameters with addresses 02 to 0B.
		Bulk transmissions that include effect-type information will always send parameters at addresses 02 to 0B, but if the effect type requires the MSB, the bulk receiving side shall ignore parameters at addresses 02 to 0B. At present, the folloiwng four effect types require MSBs.
		Delay L,C,R Delay L,R Echo Cross Delay *Data range varies according to effect-type value. -->
		
		<bulk>
			<address>
				<hi>3</hi>
			</address>
			<size>20</size>
			<opcode tag = "insertion_1b">
				<address>
					<lo>48</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "insertion_2b">
				<address>
					<lo>50</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "insertion_3b">
				<address>
					<lo>52</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "insertion_4b">
				<address>
					<lo>54</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "insertion_5b">
				<address>
					<lo>56</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "insertion_6b">
				<address>
					<lo>58</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "insertion_7b">
				<address>
					<lo>60</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "insertion_8b">
				<address>
					<lo>62</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "insertion_9b">
				<address>
					<lo>64</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
			<opcode tag = "insertion_10b">
				<address>
					<lo>66</lo>
				</address>
				<byteCount>2</byteCount>
			</opcode>
		</bulk>
	</module>
	<module tag = "display">
		<name>Display Letter</name>
		<address>
			<hi>6</hi>
			<mid>0</mid>
		</address>
		<bulk>
			<address>
				<hi>6</hi>
				<mid>0</mid>
			</address>
			<size>32</size>
			<opcode tag = "display_letter">
				<address>
					<lo>0</lo>
				</address>
				<byteCount>32</byteCount>
				<byteType>MIDIBYTE</byteType>
				<valueClass>String</valueClass>
			</opcode>
		</bulk>
		
<!-- address.mid (high nibble) = v : vertical extension (0 to 7) address.mid (low nibble) = h : horizontal extension (0 to F) For data 32 to 47, only bits 6 and 5 are used.-->

		<bulk>
			<address>
				<hi>7</hi>
			</address>
			<size>48</size>
			<opcode tag = "display_bitmap">
				<address>
					<lo>0</lo>
				</address>
				<byteCount>48</byteCount>
				<valueClass>Image</valueClass>
			</opcode>
		</bulk>
	</module>

	<module tag = "multipart">
		<name>Multipart</name>
		<address/>
		<bulk>
			<address>
				<hi>8</hi>
			</address>
			<size>41</size>
			<opcode tag = "mp_element_reserve">
				<address>
					<lo>0</lo>
				</address>
			</opcode>
			<opcode tag = "mp_bank_msb">
				<address>
					<lo>1</lo>
				</address>
			</opcode>
			<opcode tag = "mp_bank_lsb">
				<address>
					<lo>2</lo>
				</address>
			</opcode>
			<opcode tag = "mp_program">
				<address>
					<lo>3</lo>
				</address>
			</opcode>
			<opcode tag = "mp_channel">
				<address>
					<lo>4</lo>
				</address>
			</opcode>
			<opcode tag = "mp_mono_poly">
				<address>
					<lo>5</lo>
				</address>
			</opcode>
			<opcode tag = "mp_same_key_assign">
				<address>
					<lo>6</lo>
				</address>
			</opcode>
			<opcode tag = "mp_partmode">
				<address>
					<lo>7</lo>
				</address>
			</opcode>
			<opcode tag = "mp_transpose">
				<address>
					<lo>8</lo>
				</address>
			</opcode>
			<opcode tag = "mp_detune">
				<address>
					<lo>9</lo>
				</address>
				<byteCount>2</byteCount>
				<byteType>NIBBLE</byteType>
			</opcode>
			<opcode tag = "mp_volume">
				<address>
					<lo>11</lo>
				</address>
			</opcode>
			<opcode tag = "mp_velocity_depth">
				<address>
					<lo>12</lo>
				</address>
			</opcode>
			<opcode tag = "mp_velocity_offset">
				<address>
					<lo>13</lo>
				</address>
			</opcode>
			<opcode tag = "mp_panorama">
				<address>
					<lo>14</lo>
				</address>
			</opcode>
			<opcode tag = "mp_notelimit_low">
				<address>
					<lo>15</lo>
				</address>
			</opcode>
			<opcode tag = "mp_notelimit_high">
				<address>
					<lo>16</lo>
				</address>
			</opcode>
			<opcode tag = "mp_drylevel">
				<address>
					<lo>17</lo>
				</address>
			</opcode>
			<opcode tag = "mp_chorus">
				<address>
					<lo>18</lo>
				</address>
			</opcode>
			<opcode tag = "mp_reverb">
				<address>
					<lo>19</lo>
				</address>
			</opcode>
			<opcode tag = "mp_variation">
				<address>
					<lo>20</lo>
				</address>
			</opcode>
			<opcode tag = "mp_lfo_rate">
				<address>
					<lo>21</lo>
				</address>
			</opcode>
			<opcode tag = "mp_lfo_depth">
				<address>
					<lo>22</lo>
				</address>
			</opcode>
			<opcode tag = "mp_lfo_delay">
				<address>
					<lo>23</lo>
				</address>
			</opcode>
			<opcode tag = "mp_lpf_cutoff">
				<address>
					<lo>24</lo>
				</address>
			</opcode>
			<opcode tag = "mp_lpf_resonance">
				<address>
					<lo>25</lo>
				</address>
			</opcode>
			<opcode tag = "mp_env_attack">
				<address>
					<lo>26</lo>
				</address>
			</opcode>
			<opcode tag = "mp_env_decay">
				<address>
					<lo>27</lo>
				</address>
			</opcode>
			<opcode tag = "mp_env_release">
				<address>
					<lo>28</lo>
				</address>
			</opcode>
			<opcode tag = "mp_mw_pitch_control">
				<address>
					<lo>29</lo>
				</address>
			</opcode>
			<opcode tag = "mp_mw_lpf_control">
				<address>
					<lo>30</lo>
				</address>
			</opcode>
			<opcode tag = "mp_mw_amp_control">
				<address>
					<lo>31</lo>
				</address>
			</opcode>
			<opcode tag = "mp_mw_pitch_lfo">
				<address>
					<lo>32</lo>
				</address>
			</opcode>
			<opcode tag = "mp_mw_lpf_lfo_">
				<address>
					<lo>33</lo>
				</address>
			</opcode>
			<opcode tag = "mp_mw_amp_lfo">
				<address>
					<lo>34</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pb_pitch_control">
				<address>
					<lo>35</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pb_lpf_control">
				<address>
					<lo>36</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pb_amp_control">
				<address>
					<lo>37</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pb_pitch_lfo">
				<address>
					<lo>38</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pb_lpf_lfo_">
				<address>
					<lo>39</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pb_amp_lfo">
				<address>
					<lo>40</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>8</hi>
			</address>
			<size>63</size>
			<opcode tag = "mp_receive_pb">
				<address>
					<lo>48</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_cat">
				<address>
					<lo>49</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_pc">
				<address>
					<lo>50</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_cc">
				<address>
					<lo>51</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_pat">
				<address>
					<lo>52</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_note">
				<address>
					<lo>53</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_rpn">
				<address>
					<lo>54</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_nrpn">
				<address>
					<lo>55</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_mod">
				<address>
					<lo>56</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_vol">
				<address>
					<lo>57</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_pan">
				<address>
					<lo>58</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_expression">
				<address>
					<lo>59</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_hold1">
				<address>
					<lo>60</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_portamento">
				<address>
					<lo>61</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_sostenuto">
				<address>
					<lo>62</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_softpedal">
				<address>
					<lo>63</lo>
				</address>
			</opcode>
			<opcode tag = "mp_receive_bankselect">
				<address>
					<lo>64</lo>
				</address>
			</opcode>
			<opcode tag = "mp_scaletune_c">
				<address>
					<lo>65</lo>
				</address>
			</opcode>
			<opcode tag = "mp_scaletune_c#">
				<address>
					<lo>66</lo>
				</address>
			</opcode>
			<opcode tag = "mp_scaletune_d">
				<address>
					<lo>67</lo>
				</address>
			</opcode>
			<opcode tag = "mp_scaletune_d#">
				<address>
					<lo>68</lo>
				</address>
			</opcode>
			<opcode tag = "mp_scaletune_e">
				<address>
					<lo>69</lo>
				</address>
			</opcode>
			<opcode tag = "mp_scaletune_f">
				<address>
					<lo>70</lo>
				</address>
			</opcode>
			<opcode tag = "mp_scaletune_f#">
				<address>
					<lo>71</lo>
				</address>
			</opcode>
			<opcode tag = "mp_scaletune_g">
				<address>
					<lo>72</lo>
				</address>
			</opcode>
			<opcode tag = "mp_scaletune_g#">
				<address>
					<lo>73</lo>
				</address>
			</opcode>
			<opcode tag = "mp_scaletune_a">
				<address>
					<lo>74</lo>
				</address>
			</opcode>
			<opcode tag = "mp_scaletune_a#">
				<address>
					<lo>75</lo>
				</address>
			</opcode>
			<opcode tag = "mp_scaletune_h">
				<address>
					<lo>76</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cat_pitch_control">
				<address>
					<lo>77</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cat_lpf_control">
				<address>
					<lo>78</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cat_amp_control">
				<address>
					<lo>79</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cat_pitch_lfo">
				<address>
					<lo>80</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cat_lpf_lfo_">
				<address>
					<lo>81</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cat_amp_lfo">
				<address>
					<lo>82</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pat_pitch_control">
				<address>
					<lo>83</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pat_lpf_control">
				<address>
					<lo>84</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pat_amp_control">
				<address>
					<lo>85</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pat_pitch_lfo">
				<address>
					<lo>86</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pat_lpf_lfo_">
				<address>
					<lo>87</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pat_amp_lfo">
				<address>
					<lo>88</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac1_number">
				<address>
					<lo>89</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac1_pitch_control">
				<address>
					<lo>90</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac1_lpf_control">
				<address>
					<lo>91</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac1_amp_control">
				<address>
					<lo>92</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac1_pitch_lfo">
				<address>
					<lo>93</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac1_lpf_lfo_">
				<address>
					<lo>94</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac1_amp_lfo">
				<address>
					<lo>95</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac2_number">
				<address>
					<lo>96</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac2_pitch_control">
				<address>
					<lo>97</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac2_lpf_control">
				<address>
					<lo>98</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac2_amp_control">
				<address>
					<lo>99</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac2_pitch_lfo">
				<address>
					<lo>100</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac2_lpf_lfo_">
				<address>
					<lo>101</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac2_amp_lfo">
				<address>
					<lo>102</lo>
				</address>
			</opcode>
			<opcode tag = "mp_portamento_switch">
				<address>
					<lo>103</lo>
				</address>
			</opcode>
			<opcode tag = "mp_portamento_time">
				<address>
					<lo>104</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pitchenv_attacklevel">
				<address>
					<lo>105</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pitchenv_attacktime">
				<address>
					<lo>106</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pitchenv_releaselevel">
				<address>
					<lo>107</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pitchenv_releasetime">
				<address>
					<lo>108</lo>
				</address>
			</opcode>
			<opcode tag = "mp_velocitylimit_low">
				<address>
					<lo>109</lo>
				</address>
			</opcode>
			<opcode tag = "mp_velocitylimit_high">
				<address>
					<lo>110</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>8</hi>
			</address>
			<size>4</size>
			<opcode tag = "mp_pb_low_control">
				<address>
					<lo>112</lo>
				</address>
			</opcode>
			<opcode tag = "mp_lpf_env_depth">
				<address>
					<lo>113</lo>
				</address>
			</opcode>
			<opcode tag = "mp_eq_bass">
				<address>
					<lo>114</lo>
				</address>
			</opcode>
			<opcode tag = "mp_eq_treble">
				<address>
					<lo>115</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>8</hi>
			</address>
			<size>12</size>
			<opcode tag = "mp_eq_midbass">
				<address>
					<lo>116</lo>
				</address>
			</opcode>
			<opcode tag = "mp_eq_midtreble">
				<address>
					<lo>117</lo>
				</address>
			</opcode>
			<opcode tag = "mp_eq_bass_frequency">
				<address>
					<lo>118</lo>
				</address>
			</opcode>
			<opcode tag = "mp_eq_treble_frequency">
				<address>
					<lo>119</lo>
				</address>
			</opcode>
			<opcode tag = "mp_eq_midbass_frequency">
				<address>
					<lo>120</lo>
				</address>
			</opcode>
			<opcode tag = "mp_eq_midtreble_frequency">
				<address>
					<lo>121</lo>
				</address>
			</opcode>
			<opcode tag = "mp_eq_bass_q">
				<address>
					<lo>122</lo>
				</address>
			</opcode>
			<opcode tag = "mp_eq_treble_q">
				<address>
					<lo>123</lo>
				</address>
			</opcode>
			<opcode tag = "mp_eq_midbass_q">
				<address>
					<lo>124</lo>
				</address>
			</opcode>
			<opcode tag = "mp_eq_midtreble_q">
				<address>
					<lo>125</lo>
				</address>
			</opcode>
			<opcode tag = "mp_eq_bass_shape">
				<address>
					<lo>126</lo>
				</address>
			</opcode>
			<opcode tag = "mp_eq_treble_shape">
				<address>
					<lo>127</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>10</hi>
			</address>
			<size>1</size>
			<opcode tag = "mp_output_select">
				<address>
					<lo>16</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>10</hi>
			</address>
			<size>2</size>
			<opcode tag = "mp_hpf_cutoff">
				<address>
					<lo>32</lo>
				</address>
			</opcode>
			<opcode tag = "mp_hpf_resonance">
				<address>
					<lo>33</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>10</hi>
			</address>
			<size>6</size>
			<opcode tag = "mp_mw_hpf_control">
				<address>
					<lo>34</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pb_hpf_control">
				<address>
					<lo>35</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cat_hpf_control">
				<address>
					<lo>36</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pat_hpf_control">
				<address>
					<lo>37</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac1_hpf_control">
				<address>
					<lo>38</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac2_hpf_control">
				<address>
					<lo>39</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>10</hi>
			</address>
			<size>7</size>
			<opcode tag = "mp_cbc1_number">
				<address>
					<lo>48</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cbc1_pitch_control">
				<address>
					<lo>49</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cbc1_lpf_control">
				<address>
					<lo>50</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cbc1_amp_control">
				<address>
					<lo>51</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cbc1_lfo_pitch_depth">
				<address>
					<lo>52</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cbc1_lfo_lpf_depth">
				<address>
					<lo>53</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cbc1_lfo_amp_depth">
				<address>
					<lo>54</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>10</hi>
			</address>
			<size>7</size>
			<opcode tag = "mp_cbc2_number">
				<address>
					<lo>56</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cbc2_pitch_control">
				<address>
					<lo>57</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cbc2_lpf_control">
				<address>
					<lo>58</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cbc2_amp_control">
				<address>
					<lo>59</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cbc2_lfo_pitch_depth">
				<address>
					<lo>60</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cbc2_lfo_lpf_depth">
				<address>
					<lo>61</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cbc2_lfo_amp_depth">
				<address>
					<lo>62</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>10</hi>
			</address>
			<size>6</size>
			<opcode tag = "mp_mw_offset_level">
				<address>
					<lo>64</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pb_offset_level">
				<address>
					<lo>65</lo>
				</address>
			</opcode>
			<opcode tag = "mp_cat_offset_level">
				<address>
					<lo>66</lo>
				</address>
			</opcode>
			<opcode tag = "mp_pat_offset_level">
				<address>
					<lo>67</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac1_offset_level">
				<address>
					<lo>68</lo>
				</address>
			</opcode>
			<opcode tag = "mp_ac2_offset_level">
				<address>
					<lo>69</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>9</hi>
			</address>
			<size>23</size>
			<opcode tag = "mp_vl_note_assign">
				<address>
					<lo>0</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_note_filter">
				<address>
					<lo>2</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_pressure_control">
				<address>
					<lo>3</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_pressure_depth">
				<address>
					<lo>4</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_embouchure_control">
				<address>
					<lo>5</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_embouchure_depth">
				<address>
					<lo>6</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_tonguing_control">
				<address>
					<lo>7</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_tonguing_depth">
				<address>
					<lo>8</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_screaming_control">
				<address>
					<lo>9</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_screaming_depth">
				<address>
					<lo>10</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_breath_control">
				<address>
					<lo>11</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_breath_depth">
				<address>
					<lo>12</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_growl_control">
				<address>
					<lo>13</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_growl_depth">
				<address>
					<lo>14</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_throatformant_control">
				<address>
					<lo>15</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_throatformant_depth">
				<address>
					<lo>16</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_harmonicenhancer_control">
				<address>
					<lo>17</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_harmonicenhancer_depth">
				<address>
					<lo>18</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_damping_control">
				<address>
					<lo>19</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_damping_depth">
				<address>
					<lo>20</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_absorption_control">
				<address>
					<lo>21</lo>
				</address>
			</opcode>
			<opcode tag = "mp_vl_absorption_depth">
				<address>
					<lo>22</lo>
				</address>
			</opcode>
		</bulk>
	</module>
	<module tag = "adpart">
		<name>A/D-Part</name>
		<address/>
		<bulk>
			<address>
				<hi>16</hi>
			</address>
			<size>21</size>
			<opcode tag = "ad_input_gain">
				<address>
					<lo>0</lo>
				</address>
			</opcode>
			<opcode tag = "ad_bank_msb">
				<address>
					<lo>1</lo>
				</address>
			</opcode>
			<opcode tag = "ad_bank_lsb">
				<address>
					<lo>2</lo>
				</address>
			</opcode>
			<opcode tag = "ad_program">
				<address>
					<lo>3</lo>
				</address>
			</opcode>
			<opcode tag = "ad_midichannel">
				<address>
					<lo>4</lo>
				</address>
			</opcode>
			<opcode tag = "ad_volume">
				<address>
					<lo>11</lo>
				</address>
			</opcode>
			<opcode tag = "ad_panorama">
				<address>
					<lo>14</lo>
				</address>
			</opcode>
			<opcode tag = "ad_drylevel">
				<address>
					<lo>17</lo>
				</address>
			</opcode>
			<opcode tag = "ad_chorus">
				<address>
					<lo>18</lo>
				</address>
			</opcode>
			<opcode tag = "ad_reverb">
				<address>
					<lo>19</lo>
				</address>
			</opcode>
			<opcode tag = "ad_variation">
				<address>
					<lo>20</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>16</hi>
			</address>
			<size>49</size>
			<opcode tag = "ad_receive_pc">
				<address>
					<lo>50</lo>
				</address>
			</opcode>
			<opcode tag = "ad_receive_cc">
				<address>
					<lo>51</lo>
				</address>
			</opcode>
			<opcode tag = "ad_receive_volume">
				<address>
					<lo>57</lo>
				</address>
			</opcode>
			<opcode tag = "ad_receive_panorama">
				<address>
					<lo>58</lo>
				</address>
			</opcode>
			<opcode tag = "ad_receive_expression">
				<address>
					<lo>59</lo>
				</address>
			</opcode>
			<opcode tag = "ad_receive_bank">
				<address>
					<lo>64</lo>
				</address>
			</opcode>
			<opcode tag = "ad_ac1_number">
				<address>
					<lo>89</lo>
				</address>
			</opcode>
			<opcode tag = "ad_ac2_number">
				<address>
					<lo>96</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>17</hi>
			</address>
			<size>1</size>
			<opcode tag = "ad_mono_stereo">
				<address>
					<lo>0</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>17</hi>
			</address>
			<size>3</size>
			<opcode tag = "ad_input_category">
				<address>
					<lo>1</lo>
				</address>
				<byteCount>3</byteCount>
				<byteType>MIDIBYTE</byteType>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>18</hi>
			</address>
			<size>1</size>
			<opcode tag = "ad_cbc1_number">
				<address>
					<lo>48</lo>
				</address>
			</opcode>
			<opcode tag = "ad_cbc2_number">
				<address>
					<lo>56</lo>
				</address>
			</opcode>
		</bulk>
	</module>
	<module tag="drumset">
		<name>Drumset</name>
		<address/>
		<bulk>
			<address/>
			<size>16</size>
			<opcode tag = "ds_pitch_coarse">
				<address>
					<lo>0</lo>
				</address>
			</opcode>
			<opcode tag = "ds_pitch_fine">
				<address>
					<lo>1</lo>
				</address>
			</opcode>
			<opcode tag = "ds_level">
				<address>
					<lo>2</lo>
				</address>
			</opcode>
			<opcode tag = "ds_group">
				<address>
					<lo>3</lo>
				</address>
			</opcode>
			<opcode tag = "ds_panorama">
				<address>
					<lo>4</lo>
				</address>
			</opcode>
			<opcode tag = "ds_reverb">
				<address>
					<lo>5</lo>
				</address>
			</opcode>
			<opcode tag = "ds_chorus">
				<address>
					<lo>6</lo>
				</address>
			</opcode>
			<opcode tag = "ds_variation">
				<address>
					<lo>7</lo>
				</address>
			</opcode>
			<opcode tag = "ds_key_assign">
				<address>
					<lo>8</lo>
				</address>
			</opcode>
			<opcode tag = "ds_receive_noteoff">
				<address>
					<lo>9</lo>
				</address>
			</opcode>
			<opcode tag = "ds_receive_noteon">
				<address>
					<lo>10</lo>
				</address>
			</opcode>
			<opcode tag = "ds_lpf_cutoff">
				<address>
					<lo>11</lo>
				</address>
			</opcode>
			<opcode tag = "ds_lpf_resonance">
				<address>
					<lo>12</lo>
				</address>
			</opcode>
			<opcode tag = "ds_env_attack_time">
				<address>
					<lo>13</lo>
				</address>
			</opcode>
			<opcode tag = "ds_env_decay_time">
				<address>
					<lo>14</lo>
				</address>
			</opcode>
			<opcode tag = "ds_env_release_time">
				<address>
					<lo>15</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address/>
			<size>15</size>
			<opcode tag = "ds_eq_bass">
				<address>
					<lo>32</lo>
				</address>
			</opcode>
			<opcode tag = "ds_eq_treble">
				<address>
					<lo>33</lo>
				</address>
			</opcode>
			<opcode tag = "ds_eq_midbass">
				<address>
					<lo>34</lo>
				</address>
			</opcode>
			<opcode tag = "ds_eq_midtreble">
				<address>
					<lo>35</lo>
				</address>
			</opcode>
			<opcode tag = "ds_eq_bass_frequency">
				<address>
					<lo>36</lo>
				</address>
			</opcode>
			<opcode tag = "ds_eq_treble_frequency">
				<address>
					<lo>37</lo>
				</address>
			</opcode>
			<opcode tag = "ds_eq_midbass_frequency">
				<address>
					<lo>38</lo>
				</address>
			</opcode>
			<opcode tag = "ds_eq_midtreble_frequency">
				<address>
					<lo>39</lo>
				</address>
			</opcode>
			<opcode tag = "ds_eq_bass_q">
				<address>
					<lo>40</lo>
				</address>
			</opcode>
			<opcode tag = "ds_eq_treble_q">
				<address>
					<lo>41</lo>
				</address>
			</opcode>
			<opcode tag = "ds_eq_midbass_q">
				<address>
					<lo>42</lo>
				</address>
			</opcode>
			<opcode tag = "ds_eq_midtreble_q">
				<address>
					<lo>43</lo>
				</address>
			</opcode>
			<opcode tag = "ds_eq_bass_shape">
				<address>
					<lo>44</lo>
				</address>
			</opcode>
			<opcode tag = "ds_eq_treble_shape">
				<address>
					<lo>45</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address/>
			<size>1</size>
			<opcode tag = "ds_output">
				<address>
					<lo>64</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address/>
			<size>2</size>
			<opcode tag = "ds_hpf_cutoff">
				<address>
					<lo>80</lo>
				</address>
			</opcode>
			<opcode tag = "ds_hpf_resonance">
				<address>
					<lo>81</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address/>
			<size>2</size>
			<opcode tag = "ds_velocity_pitch">
				<address>
					<lo>96</lo>
				</address>
			</opcode>
			<opcode tag = "ds_velocity_lpf_cutoff">
				<address>
					<lo>97</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address/>
			<size>4</size>
			<opcode tag = "ds1_sourcekit">
				<address>
					<lo>112</lo>
				</address>
				<byteCount>4</byteCount>
				<byteType>MIDIBYTE</byteType>
				<valueClass>Integer</valueClass>
			</opcode>
		</bulk>
	</module>
	<module tag = "plugin">
		<name>Plugin</name>
		<address/>
		<bulk>
			<address>
				<hi>112</hi>
			</address>
			<size>1</size>
			<opcode tag="plugin_partassign">
				<address>
					<lo>0</lo>
				</address>
			</opcode>
		</bulk>
		<bulk>
			<address>
				<hi>113</hi>
			</address>
			<size>1</size>
			<opcode tag = "plugin_notefilter">
				<address>
					<lo>0</lo>
				</address>
			</opcode>
		</bulk>
	</module>
</map>